Package: com.roccodelpriore.touchtracking
Name: TouchTracking
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Rocco Del Priore
Author: Rocco Del Priore
Section: Tweaks
