Package: com.roccodelpriore.touchtracking
Name: TouchTracking
Depends: mobilesubstrate
Version: 0.5
Architecture: iphoneos-arm
Description: Touch Tracking records each touch you make on your iOS device and anonymously uploads that data. Data is used for research and data visualization purposes only. Requires iOS 9 or above.
Maintainer: Rocco Del Priore
Author: Rocco Del Priore
Section: Tweaks
